<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo1.mapper.StudentMapper">

    <!-- 分页查询学生课程成绩 -->
    <select id="selectStudentCourseScorePage" resultType="com.example.demo1.vo.StudentCourseScoreVO">
        SELECT
        s.student_id,    -- 学生编号
        s.name,          -- 学生姓名
        s.age,           -- 学生年龄
        c.course_name,   -- 课程名称
        sc.score         -- 考试分数
        FROM student s
        LEFT JOIN sc ON s.student_id = sc.student_id
        LEFT JOIN course c ON sc.course_id = c.course_id
    </select>

    <!-- 根据学生姓名查询课程和成绩 -->
    <select id="selectStudentScoresByName" resultType="com.example.demo1.vo.StudentCourseScoreVO">
        SELECT s.name, c.course_name, sc.score
        FROM student s
        LEFT JOIN sc ON s.student_id = sc.student_id
        LEFT JOIN course c ON sc.course_id = c.course_id
        WHERE s.name = #{studentName}
    </select>

    <!-- 查询数学成绩大于80分的学生姓名 -->
    <select id="selectStudentsWithMathScoreAbove80" resultType="java.lang.String">
        SELECT DISTINCT s.name
        FROM student s
        LEFT JOIN sc ON s.student_id = sc.student_id
        LEFT JOIN course c ON sc.course_id = c.course_id
        WHERE c.course_name = '高等数学' AND sc.score > 80
    </select>

</mapper>